#placemarksCount_id {
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
}

#placemarksCount_id span {
   color: var(--lightFrame-color);
   margin-left: 10px;
}